@import '../abstracts/mixins';

.desktop-header {
    .navbar-brand {
        max-width: 180px;
    }

    .input-group {
        border-radius: 50px;
        margin-right: 30px;
        background-color: rgba(#393939, 0.1);
        border: 1px solid rgba(#707070, .1);

        .input-group-text {
            background-color: transparent;
            border: none;
            color: $color-black;
        }
        .form-control {
            @include font-style(22px, rgba($color-black, 0.7), 400);
            border: none;
            background-color: transparent;
        }
        .form-control::placeholder {
            font-style: italic;
            font-weight: 300;
        }
        .form-control:focus {
            box-shadow: none;
        }
        .btn {
            border-top-left-radius: 50px !important;
            border-bottom-left-radius: 50px !important;
            @include font-style(20px, $color-white, 400);
            margin-right: -20px;
            padding-right: 30px;
            border: 2px solid $color-red-orange;

            &.btn-expand {
                background-color: #EBEBEB;
                color: rgba($color-black, 0.7);
            }
            &.btn-reset {
                background-color: #EBEBEB;
                color: rgba($color-black, 0.7);
                border-radius: 50px;
            }
        }
    }

    .navbar-nav {
        .nav-item.border-end {
            border-right: 1px solid $color-red-orange !important;
        }

        .dropdown {
            .user-avatar {
                display: block;
                width: 60px;
                height: 60px;
                padding: 3px;
                border: 3px solid $color-red-orange;
                border-radius: 50%;
                margin-right: 5px;
            }
            .dropdown-toggle::after {
                display: none;
            }
            .text {
                @include font-style(16px, rgba($color-black, 0.7), 300);
                strong {
                    font-weight: 700;
                }
                i {
                    color: $color-red-orange;
                }
            }
        }
    }

    &.light-header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 999;
        
        .navbar-brand {
            max-width: 60px;
        }

        .input-group {
            background-color: rgba(#393939, 0.1);
            border: 1px solid rgba(#707070, .1);
    
            .input-group-text {
                color: rgba($color-white, 0.7);
            }
            .form-control {
                @include font-style(22px, rgba($color-white, 1), 400);
            }
            .form-control::placeholder {
                color: rgba($color-white, 0.7);
            }

            .btn {
                &.btn-expand {
                    background-color: #70528D;
                    color: rgba($color-white, 0.7);
                }
                &.btn-reset {
                    background-color: #70528D;
                    color: rgba($color-white, 0.7);
                }
            }
        }

        .navbar-nav {
            .nav-item.border-end {
                border-right: 1px solid #CCD2DD !important;
            }
    
            .dropdown {
                .user-avatar {
                    border: 3px solid #e8a8ff;
                }
                .text {
                    @include font-style(16px, rgba($color-white, 1), 300);
                    i {
                        color: $color-white;
                    }
                }
            }
        }
    }
    
}


// ######## mobile header #############
.mobile-header {
    .navbar>.container {
        flex-wrap: nowrap;
    }

    .search-showHide-btn,
    .side-nave-show-btn {
        background: linear-gradient(0deg, $color-red, $color-red-orange);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
    }
    .navbar-brand {
        max-width: 150px;
    }

    .dropdown {
        .user-avatar {
            display: block;
            width: 45px;
            height: 45px;
            padding: 3px;
            border: 3px solid $color-red-orange;
            border-radius: 50%;
        }
        .dropdown-toggle::after {
            display: none;
        }
    }

    .mobile-search {
        position: absolute;
        top: 102%;
        left: 0;
        width: 100%;
        padding: 20px 15px;
        background: $color-white;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        z-index: 1;

        .input-group {
            border-radius: 50px;
            padding-right: 20px;
            background-color: rgba(#393939, 0.1);
            border: 1px solid rgba(#707070, .1);
    
            .input-group-text {
                background-color: transparent;
                border: none;
                color: $color-black;
            }
            .form-control {
                @include font-style(14px, rgba($color-black, 0.7), 400);
                border: none;
                background-color: transparent;
            }
            .form-control::placeholder {
                font-style: italic;
                font-weight: 300;
            }
            .form-control:focus {
                box-shadow: none;
            }
            .btn {
                border-top-left-radius: 50px !important;
                border-bottom-left-radius: 50px !important;
                @include font-style(12px, $color-white, 400);
                margin-right: -20px;
                padding-right: 30px;
                border: 2px solid $color-red-orange;

                &.btn-expand {
                    background-color: #EBEBEB;
                    color: rgba($color-black, 0.7);
                }
                &.btn-reset {
                    background-color: #EBEBEB;
                    color: rgba($color-black, 0.7);
                    border-radius: 50px;
                }
            }
        }
    
    }
}


// ############### dark mode css ################
.dark-mode {
    .desktop-header {
        .input-group {
            background-color: rgba(#343450, 1);
            border: 1px solid rgba(#343450, 1);
    
            .input-group-text {
                color: $color-white;
            }
            .form-control {
                @include font-style(22px, rgba($color-white, 1), 400);
            }
            .btn {
                @include font-style(20px, $color-white, 400);
                border: 2px solid $color-red-orange;
    
                &.btn-expand {
                    background-color: #1C1C2B;
                    color: $color-white;
                }
                &.btn-reset {
                    background-color: #1C1C2B;
                    color: $color-white;
                    border-radius: 50px;
                }
            }
        }
    
        .navbar-nav {
            .nav-item.border-end {
                border-right: 1px solid $color-red-orange !important;
            }
    
            .dropdown {
                .text {
                    @include font-style(16px, rgba($color-white, 1), 300);
                }
            }
        }
    
        &.light-header {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 999;
            
            .navbar-brand {
                max-width: 60px;
            }
    
            .input-group {
                background-color: rgba(#393939, 0.1);
                border: 1px solid rgba(#707070, .1);
        
                .input-group-text {
                    color: rgba($color-white, 0.7);
                }
                .form-control {
                    @include font-style(22px, rgba($color-white, 1), 400);
                }
                .form-control::placeholder {
                    color: rgba($color-white, 0.7);
                }

                .btn {
                    &.btn-expand {
                        background-color: #70528D;
                        color: rgba($color-white, 0.7);
                    }
                    &.btn-reset {
                        background-color: #70528D;
                        color: rgba($color-white, 0.7);
                    }
                }
            }
    
            .navbar-nav {
                .nav-item.border-end {
                    border-right: 1px solid #CCD2DD !important;
                }
        
                .dropdown {
                    .user-avatar {
                        border: 3px solid #e8a8ff;
                    }
                    .text {
                        @include font-style(16px, rgba($color-white, 1), 300);
                        i {
                            color: $color-white;
                        }
                    }
                }
            }
        }
        
    }


    // mobile header
    .mobile-header {
    
        .mobile-search {
            background: #272737;
            .input-group {
                background-color: $bg-dark;
                .input-group-text {
                    color: $color-white;
                }
                .form-control {
                    @include font-style(14px, rgba($color-white, 1), 400);
                }
                .form-control::placeholder {
                    font-style: italic;
                    font-weight: 300;
                }


                .btn {    
                    &.btn-expand {
                        background-color: #1C1C2B;
                        color: $color-white;
                    }
                    &.btn-reset {
                        background-color: #1C1C2B;
                        color: $color-white;
                        border-radius: 50px;
                    }
                }
            }
        
        }
    }
}


