.modal-content {
    border-radius: 10px;
    .modal-header {
        border-bottom: none;

        .modal-close-btn {
           font-size: 20px;
           color: $color-red-orange;
           position: absolute;
           top: 0;
           right: 0;
        }
    }

    .modal-body-content {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 1rem;
    }
}



// subscrib-popup start
#subscrib-action-modal {
  .modal-title {
    @include font-style(30px, rgba($color-black, 0.8), 600);

    @media (max-width: 767px) {
        font-size: 24px;
    }
  }

  .btn-red-gradient {
      border-radius: 30px;
      text-transform: uppercase;
      display: block;
      width: 75%;
      margin: 10px auto;
      @media (max-width: 767px) {
        width: 90%;
      }
  }
}
// end of subscrib-popup 



// select-photo-popup start
#select-photo-popup{
    label {
        @include font-style(18px, rgba($color-black, 0.8), 400);
    }

    .form-check-input:checked {
        background-color: $color-red-orange;
        border-color: $color-red-orange;
    }
}
// end of select-photo-popup 









// ####### dark mode #########
.dark-mode {
    .modal-content {
        background-color: #272737;
        .modal-body-content {
            background-color: #1B1B29;
        }
    }

    
    #subscrib-action-modal {
        .modal-title {
            color: rgba($color-white, 0.8);
        }
    }

    

    // select-photo-popup start
    #select-photo-popup{
        label {
            color:rgba($color-white, 01);
        }
    }
    // end of select-photo-popup 

    
}