.modal-content {
    border-radius: 10px;
    .modal-header {
        border-bottom: none;

        .modal-close-btn {
           font-size: 20px;
           color: $color-red-orange;
           position: absolute;
           top: 0;
           right: 0;
        }
    }

    .modal-body-content {
        background-color: #f9f9f9;
        border-radius: 10px;
        padding: 1rem;
    }
}



#subscrib-action-modal {
  .modal-title {
    @include font-style(30px, rgba($color-black, 0.8), 600);

    @media (max-width: 767px) {
        font-size: 24px;
    }
  }

  .btn-red-gradient {
      border-radius: 30px;
      text-transform: uppercase;
      display: block;
      width: 75%;
      margin: 10px auto;
      @media (max-width: 767px) {
        width: 90%;
      }
  }
}









// ####### dark mode #########
.dark-mode {
    .modal-content {
        background-color: #272737;
        .modal-body-content {
            background-color: #1B1B29;
        }
    }

    
    #subscrib-action-modal {
        .modal-title {
            color: rgba($color-white, 0.8);
        }
    }
    
}