@import '../abstracts/mixins';

.profile-banner {
    height: 100vh;
    min-height: 450px;
    background: url(../images/stunning-curly-female-model-jumping-purple-indoor-portrait-slim-girl-bright-yellow-dress.png) no-repeat center center/cover;
}

.profile-info-full {
    .profile-info-card {
        margin-top: -250px;
        border-radius: 20px;
        padding: 0 15px;

        .profile-info {
            position: relative;
            text-align: center;
            padding-bottom: 50px;
            @media (max-width: 767px){
                padding-bottom: 60px;
            }

            .user-avatar {
                img {
                    width: 160px;
                    height: 160px;
                    border: 7px solid $color-white;
                    border-radius: 50%;
                    display: block;
                    margin: -80px auto 0 auto;
                }
            }
            .user-name {
                @include font-style(50px, rgba($color-black, 1), 500);
                margin: 20px 0 10px 0;

                @media (max-width: 767px){
                    @include font-style(40px, rgba($color-black, 1), 500);
                }
            }
            .user-description {
                @include font-style(17px, rgba($color-black, 0.5), 500);
                @media(min-width: 992px){
                    max-width: 80%;
                    margin: auto;
                }
            }

            .subscrib-btn-box {
                position: absolute;
                top: 20px;
                right: 5px;
                z-index: 999;
    
                @media (max-width: 767px) {
                    top: unset;
                    bottom: 0px;
                    right: unset;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .profile-nav {
            .nav-link {
                @include font-style(20px, rgba($color-black, 0.8), 400);
                padding-bottom: 5px;
                border: none;

                @media (max-width: 767px){
                   font-size: 16px;
                   padding: .5rem;

                   i {
                       font-size: 20px;
                   }
                }

                &.active {
                    border-bottom: 2px solid $color-red;
                }
            }
            .search-box {
                .search-input {
                    @include font-style(20px, $color-black, 300);
                    font-style: italic;
                    text-align: center;
                    border: none;
                    border-bottom: 2px solid $color-black;
                    padding-left: 20px;
                    background-color: transparent;
                }
                i {
                    color: $color-black;
                    font-size: 20px;
                    position: absolute;
                    left: 0;
                    top: 7px;
                }
            }
        }

        .all-card-box {
            background-color: #f9f9f9;
            border-radius: 20px;

            .pagination {
                .page-link {
                    width: 20px;
                    height: 20px;
                    background: rgba($color-black, .5);
                    border: none;
                    border-radius: 50%;
                    display: block;
                    padding: 0;
                    margin: 5px;

                    &.active {
                        background: linear-gradient(45deg, $color-red, $color-red-orange);
                    }
                }
            }
        }
    }
}


// ######## dark mode #######
.dark-mode {
    .profile-info-full {
        .profile-info-card {
            background-color: #272737;

            .profile-info {
                .user-name {
                    @include font-style(50px, rgba($color-white, 1), 500);

                    @media (max-width: 767px){
                        @include font-style(40px, rgba($color-white, 1), 500);
                    }
                }
                .user-description {
                    @include font-style(17px, rgba($color-white, 0.5), 500);
                }
            }

            .profile-nav {
                .nav-link {
                    color: rgba($color-white, 1);
    
                    &.active {
                        border-bottom: 2px solid $color-red;
                    }
                }
                .search-box {
                    .search-input {
                        @include font-style(20px, #FAFAFA, 300);
                        border-bottom: 2px solid #FAFAFA;
                    }
                    i {
                        color: #FAFAFA;
                    }
                }
            }
    
            .all-card-box {
                background-color: #1B1B29;

                .pagination {
                    .page-link {
                        background: rgba($color-white, .5);
    
                        &.active {
                            background: linear-gradient(45deg, $color-red, $color-red-orange);
                        }
                    }
                }
            }
        }
    }
}